body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://images.unsplash.com/photo-1623228898202-de83b59829ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2274&q=80")
}

//variables
$maincolor: rgb(218, 164, 150);
$contrastcolor: black;

//mixins
@mixin black-text-pink-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin pink-text-black-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

// stones header(blooming stones) header component styles
.nav {
  @include black-text-pink-bg;
  display: flex;
  justify-content: center;
  font-family: 'Bodoni Moda', serif;
  transition: transform .6s;
}

.nav:hover {
  transform: scale(1.2);
}

.header {
  font-size: 35px;
  font-family: 'Bodoni Moda', serif;
}

a {
  @include black-text-pink-bg;
  text-decoration: none;
  div {
    margin: 10px;
    font-size: large;
  }
}

.stone-link {
  transition: transform .6s;
  font-family: 'Bodoni Moda', serif;
  font-size: 40px;
}
.stone-link:hover {
 transform: scale(1.2);
}

.stone-images {
  transition: transform .9s;
  border-radius: 50px;
  height: 480px;
  width: 480px;
}
.stone-images:hover {
  transform: scale(1.1);
}


@media (min-width: 768px) {
  .nav {
    justify-self: flex-start;
  }
}

.stone {
 color: black;
 font-family: 'Bodoni Moda', serif;
 font-size: 30px;
 padding: 30px 30px 30px 30px;
}

.delete-btn, .goback-btn {
  align-items: center;
  background-color: rgb(218, 164, 150);
  padding: 20px;
  font-size: 20px;
  color: black;
  font-family: 'Bodoni Moda', serif;
}
  .delete-btn:hover, .goback-btn:hover {
    background-color:rgb(214, 136, 116);
    transition: 0.7s;
}

//fieldset
.create-stone {
  font-family: 'Bodoni Moda', serif;
  margin: 5em 5em 5em 5em;
  padding: 1em;
  border: solid 2px rgb(77, 65, 65);
  border-radius: 6px;
  min-width: 200px;
  background-color: rgb(184, 201, 222);
}

.title {
  font-size: 25px;
  color: rgb(87, 82, 82);
}

// lable {
//   display: list-item;
//   // margin-top: 0;
// }

lable:first-of-type {
  margin-top: 0;
}
input {
  padding: .5em;
  border: solid 1px #999
}

input[type="submit"] {
  padding: .5em 1em;
  border-radius: 6px;
  background-color: rgb(176, 176, 223);
  font-family:'Bodoni Moda', serif;
  font-size: .8em;
}
input[type="submit"]:hover {
  background-color: rgb(139, 139, 230);
  transition: 0.7s;
}

