body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//variables
$maincolor: rgb(226, 177, 161);
$contrastcolor: black;

//mixins
@mixin black-text-pink-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin pink-text-black-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

// stones header(blooming stones) header component styles
.nav {
  @include black-text-pink-bg;
  display: flex;
  justify-content: center;
}

a {
  @include black-text-pink-bg;
  text-decoration: none;
  div {
    margin: 10px;
    font-size: large;
  }
}

@media (min-width: 768px) {
  .nav {
    justify-self: flex-start;
  }
}